.css-1lwbda4-MuiStack-root,
.css-1u3bzj6-MuiFormControl-root-MuiTextField-root,
.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root {
    height: 40px !important;
    color: black !important;
    
}

.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root{
    background-color: white !important;
}
.css-1yq5fb3-MuiButtonBase-root-MuiIconButton-root{
    color: black !important;
}
.css-1sumxir-MuiFormLabel-root-MuiInputLabel-root{
    top: -10px !important;
    color: white !important;
}